body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #222;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
}

.display {
    margin-bottom: 20px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.function-btn {
    background-color: #ff4d4d;
    color: #fff;
}

.num-btn {
    background-color: #444;
    color: #fff;
}

.operator-btn {
    background-color: #ff9933;
    color: #fff;
}

.calculate-btn {
    background-color: #66cc00;
    color: #fff;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch label:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-switch input:checked + label {
    background-color: #66ccff;
}

.toggle-switch input:checked + label:before {
    transform: translateX(26px);
}

.toggle-switch label:active:before {
    width: 30px;
}

/* Media Queries */
@media (max-width: 768px) {
    .calculator {
        padding: 30px;
        max-width: 90%;
    }

    #display {
        font-size: 20px;
    }

    button {
        padding: 15px;
        font-size: 16px;
    }
}
